body
{ 
}



div 
{
	width:100px;
	height:100px;
	background:#4A88F4;
	color:#fff;
	font-size:30px;
	/*float: right;*/
	margin-right:150px;
}


.caja2
{
	width:57%;
	height:300px;
	position:relative;
	/*top:90px;*/
	botton:;
	right:;
	left:120px;
	
}
